@import url('https://fonts.googleapis.com/css2?family=Inter&family=Spectral:ital,wght@0,400;1,300;1,400;1,800&display=swap');

body {
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}
h1, h2, h3, h4 {
	font-weight: 500;
}
h1 {
	font-size: 26px;	
}
h2 {
	text-align: center;
	padding-block: 2em;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
	font-size: 30px;
}
h3 {
	margin: 0em;
	font-size: 35px;
}
h4 {
	margin-bottom: 0em;
	font-size: 30px;
}
p {	
	font-size: 14px;
}

/***** NAV *****/
nav {
	height: 99px;
	box-sizing: border-box;
	padding-inline: 100px;
	padding-block: 30px;
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	height: 21.38px;
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
	padding-left: 32px;
}
nav ul li {
	padding-inline: 10px;
}
nav ul li a {
	text-decoration: none;
	color: #000
}
.social-link img {
	width: 20px;
}

/***** BANNER & CAROUSEL *****/
#main-banner {
	position: relative;
	max-width: 100%;
	box-sizing: border-box;
}
.arrow-buttons button:hover, .carousel-cursors button:hover {
	opacity: 1;
}
/* CAROUSEL CURSOR LINES */
.carousel-cursors {
	position: absolute;
	bottom: 5rem;
	right: 0;
 	left: 0;
  	z-index: 2;
  	display: flex;
  	justify-content: center;
  	padding: 0;
  	list-style: none;
}
.carousel-cursors button {
	width: 30px;
  	height: 3px;
  	margin: 0 3px;
  	background-color: #fff;
  	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.6s ease;
	pointer-events: auto;
}
.carousel-cursors .current {
  opacity: 1;
}
/* CAROUSEL IMAGES */
.carousel-viewport {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.carousel-image {
	max-width: 1920px;
	flex: 0 0 auto;
	display: none;
	transition: opacity 0.6s ease-in-out;
}
.carousel-image img {
	max-width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.carousel-image.current {
	display: block;
}
/* CAROUSEL ARROW BUTTONS*/
.arrow-buttons {
	position: absolute;
 	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	pointer-events: none;
}
.arrow-buttons button {
	pointer-events: auto;
	border: none;
	background: transparent;
	color: #FFF;
	opacity: 0.5;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/***** ABOUT *****/
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}
.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}
.picture img {
	width: 100%;
  	height: auto;
  	max-width: 573px; 
}
#about-text {
	flex: 2;
}
#about-text h2 {
	text-align: left;
	padding: 0px;
	margin: 30px 0px 60px;
}
.introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	max-width: 60%;
	font-size: 16px;
	margin: 0 0 8px 0;
}
#about-text p {
	width: 80%;
	margin: 0 0 16px 0;
}

/***** PORTFOLIO *****/
.gallery {
	justify-content: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	max-width: 67.5%;
	margin: 0 auto;
}
.gallery-item {
	aspect-ratio: 1 / 1;
	width: 100%;
	height: auto;
	object-fit: cover;
	padding: .5em;
}
.gallery-filters ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;	
	padding-inline: 10px;
	max-width: 67.5%;
	margin: 24px 16.25%;
	height: 40px;
	justify-content: center;
	gap: 16px;	
}
.galleryButton {
	border: none;
	font-size: 18px;
	pointer-events: auto;
	cursor: pointer;
	background-color: #FFF;
	color: #000;
	padding: 8px 16px;
}
.galleryButton.active {
	background-color: #575a2d;
	color:#FFF;
}

/***** QUOTES *****/
.quote {	
	width: 78.34%;
	margin: auto;
	padding-block: 3em;	
}
.quote blockquote {
	font-family: 'Spectral';	
	font-style: italic;
	font-weight: 300;
	font-size: 40px;
}
.quote figcaption {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
	margin-left: 40px;
}

/***** SERVICES *****/
#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
.service-box::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.service-box {
	justify-content: space-between;
	max-width: 69%;
	display: flex;
	padding : 2em 15.5%;
	gap: 4%;
}
.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.service__price {
	gap: 0px;
	margin: 0px;
}

/***** CONTACT *****/
#contact {
	margin: auto;
	background-color: #5F5A2D ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}
.formbox {
	display: flex;
	align-items: center;
}
.picture.right::before {
	content: ' ';
	background-color: #D8D3A8;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;
}
.form-container h2 {
	margin-top: 0px;
	text-align: left;
	color: #D8D3A8;
}
.form-container p, .form-container label {
	font-size: 18px !important;
	color: #D8D3A8;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}
form input {
	width: 100%;
	background-color: #FFF;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}
form textarea {
	width: 100%;
	background-color: #FFF;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em;
	font-size: 16px;
}

/*** MEDIA QUERIES ***/
/*@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	#about-text h2 {
		margin-top: 0;
		margin-bottom: 1em;
	}
	.introduction, #bout-text p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#about-text h2 {
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
		width: 100%;
		max-width: 1440px;	
	}
	.service {
		width: 27%;
		max-width: 1320px;
		height: auto;
		margin: 2em;
		padding: 16px;
	}
	.service__description{
		margin-bottom: 1em;
	}
	.service p {
		font-size: 16px;
	}
	.service h3 {
		font-size: 23px;
	}
	.service h4 {
		font-size: 24px;
	}
	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}*/

