body {
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}
h1, h2, h3, h4 {
	font-weight: 500;
}
h1 {
	font-size: 26px;	
}
h2 {
	text-align: center;
	padding-block: 2em;
	margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
	font-size: 30px;
}
h3 {
	margin: 0em;
	font-size: 35px;
}
h4 {
	margin-bottom: 0em;
	font-size: 30px;
}
p {	
	font-size: 14px;
}

/***** NAV *****/
nav {
	height: 99px;
	box-sizing: border-box;
	padding-inline: 100px;
	padding-block: 30px;
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	height: 21.38px;
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
	padding-left: 32px;
}
nav ul li {
	padding-inline: 10px;
}
nav ul li a {
	text-decoration: none;
	color: #000
}
.social-link img {
	width: 20px;
}
#header {
	height: 666px;
	box-sizing: border-box;
	display: none;
}

/***** ABOUT *****/
#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}
.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}
.picture img {
	max-width: 100%;
}
#about-text {
	flex: 2;
}
#about-text h2 {
	text-align: left;
	padding: 0px;
	margin: 30px 0px 60px;
}
.introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	max-width: 60%;
	font-size: 16px;
	margin: 0 0 8px 0;
}
#about-text p {
	width: 80%;
	margin: 0 0 16px 0;
}
/*#gallery {
		min-height: 100vh; 
}*/

.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #BEB45A;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
}
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

/***** QUOTES *****/
.quote {	
	width: 78.34%;
	margin: auto;
	padding-block: 3em;	
}
.quote blockquote {
	font-family: 'Spectral';	
	font-style: italic;
	font-weight: 300;
	font-size: 40px;
}
.quote figcaption {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
	margin-left: 40px;
}

/***** SERVICES *****/
#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}
#services .container {
	justify-content: space-between;
	max-width: 69%;
	display: flex;
	padding : 2em 15.5%;
	gap: 4%;
}
.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}
.service__price {
	gap: 0px;
	margin: 0px;
}

/***** CONTACT *****/
#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}
#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;
}
.form-container h2 {
	margin-top: 0px;
	text-align: left;
}
.form-container p, .form-container label {
	font-family: 'Inter';
	font-size: 14px;
}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}
form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}
form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

/*** MEDIA QUERIES ***/
@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	#about-text h2 {
		margin-top: 0;
		margin-bottom: 1em;
	}
	.introduction, #bout-text p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	#about-text h2 {
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
		width: 100%;
		max-width: 1440px;	
	}
	.service {
		width: 27%;
		max-width: 1320px;
		height: auto;
		margin: 2em;
		padding: 16px;
	}
	.service__description{
		margin-bottom: 1em;
	}
	.service p {
		font-size: 16px;
	}
	.service h3 {
		font-size: 23px;
	}
	.service h4 {
		font-size: 24px;
	}
	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}

